<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= modal_form_header(time_log) %> Time Log</h4>
    </div>
    <div class="modal-body">
      <div id="time-logs-error"></div>

      <%= simple_form_for time_log, remote: true do |f| %>
        <%= f.association :project, as: :select, collection: render_projects, input_html: { required: true }, prompt: 'Select Project' %>
        <div class="form-group">
          <%= f.label :start_time %>
          <%= f.text_field :start_time, class: 'form-control datetimepicker', placeholder: 'Click to Select Time', autocomplete: 'off', required: true %>
        </div>

        <div class="form-group">
          <%= f.label :end_time %>
          <%= f.text_field :end_time, class: 'form-control datetimepicker', placeholder: 'Click to Select Time', autocomplete: 'off', required: true %>
        </div>
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
