<tr id="time-log-row-<%= time_log.id %>">
  <td><%= time_log.user.username %></td>
  <td><%= time_log.project.title %></td>
  <td><%= time_log.created_at.strftime("%m-%d-%Y") %></td>
  <td><%= time_log.start_time %></td>
  <td><%= time_log.end_time %></td>
  <td><%= render 'time_logs/links', time_log: time_log %></td>
</tr>
