<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= modal_form_header(object) %> object</h4>
    </div>
    <div class="modal-body">
      <div id="project-error"></div>

      <%= simple_nested_form_for object, remote: true do |f| %>
        <%= f.association :client, include_blank: 'Select Client' %>
        <%= f.input :title, input_html: { required: true } %>
        <%= f.input :estimated_price, input_html: { required: true, min: 0 }, label: 'Estimated Price in USD' %>
        <div class="form-group">
          <%= f.label :end_date %>
          <%= f.text_field :end_date, class: 'form-control', id: 'datetimepicker1', placeholder: 'Click to Select Date', autocomplete: 'off' %>
        </div>
        <%= f.input :status, as: :select, collection: Project.statuses.keys.first(2), label_method: lambda { |status| status.humanize }, include_blank: 'Select Project Status', input_html: { required: true } %>
        <%= f.input :description, as: :ckeditor, input_html: { rows: 8, ckeditor: { language: 'english' } } %>
        <%= render "nested_attachments", f: f %>
        <center>
          <%= f.link_to_add "Add Attachment", :attachments, class: 'btn btn-primary btn-block' %>
        </center>
        <br />
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
