<div class="col-md-4 mb-5" id="project-<%= project.id %>">
  <div class="card h-133">
    <div class="card_container card-padding">
      <div id="icons" class="pull-right mt-4">
        <%= render 'links', project: project if valid_role? %>
      </div>
      <h4><b><%= project.title %></b></h4>
      <p>By: <%= project.client.name %></p>
      <p>Started at: <%= project.created_at.strftime("%m-%d-%Y") %></p>
    </div>
    <a href="<%= project_path(project) %>" class="btn btn-info btn-sm btn-block">Details</a>
  </div>
</div>
