<tr id="payment-row-<%= payment.id %>">
  <td><%= payment.amount %></td>
  <td><%= payment.created_by.username + ' - ' + payment.created_by.role %></td>
  <td><%= payment.method %></td>
  <td><%= payment.created_at.strftime("%m-%d-%Y") %></td>
  <td>
    <%= render 'payments/links', payment: payment, project: @project %>
  </td>
</tr>
