<tr id="user_row_<%= user.id %>">
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.gender %></td>
  <td><%= user.contact %></td>
  <td>
    <%= update_status_link(user) %> / 
    <%= update_role_link(user) %> / Edit / Destroy
   </td>
</tr>
